<!-- This is the base page for alll the pages in our application -->


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" th:href="@{/css/styles.css}" /><!-- Connectd personal CSS -->

    <title th:text="${title}">Base page</title>
  </head>
  <body>
  
  
    <!-- Navbar started -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Smart Contact Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/signin}" tabindex="-1" aria-disabled="true"><span th:text="${user.name}"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>
	<!-- NavBar ENded -->

    
    <!-- Sidebar -->
    <div class="sidebar mt-2">
    
    	<span onclick="toggleSidebar()" class="cross-btn">&times;</span><!-- toggle is called when clicked -->
    
    	<a th:href="@{/user/index}" class="item"> <i class="fas fa-home" aria-hidden="true"></i>  Home</a>
    	<a th:href="@{/user/show-contacts/0}" class="item"> <i class="fa fa-id-card-alt" aria-hidden="true"></i>  View Contacts</a>
    	<a th:href="@{/user/add-contact}" class="item"> <i class="fa fa-pencil-alt" aria-hidden="true"></i>  Add Contact</a>
    	<a href="#" class="item"> <i class="fa fa-user-circle" aria-hidden="true"></i>  Profile</a>
    	<a href="#" class="item"> <i class="fa fa-cogs" aria-hidden="true"></i>  Settings</a>
    	<a th:href="@{/logout}" class="item"> <i class="fa fa-sign-out-alt" aria-hidden="true"></i>  Logout</a>
    	<div class="divider"></div>
    
    </div>
    
    <!-- content -->
    <div class="content mt-5">
    
    	<i onclick="toggleSidebar()" class="fas fa-bars m-3" style="cursor: pointer;" aria-hidden="true"></i><!-- toggle is called when clicked -->
    
    	<div th:replace="${content}"></div>	
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script><!-- Connected personal js -->
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	<script>
		//When delete button is clicked this method will get called
		function deleteContact(cid){
			
			swal({
				  title: "Are you sure?",
				  text: "You want to delete this contact",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    window.location = "/user/delete-contact/"+cid;
				  }
				  else {
					    swal("Your contact is safe!");
					  }
				});
			
		}
		</script>
  </body>
</html>