<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About Page</title>
</head>
<body>
	<section>

		<!-- If contact is passed from the controller to the page -->
		<div class="card mr-4" th:if="${contact}">

			<div class="card-body">

				<!-- Alert for contact updated successfully -->
				<div th:if="${session.message}"
					th:classappend="${session.message.type}" class="alert" role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					
					
					
				

					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>

				<div class="container text-center">
					<!-- Profile Image  -->
					<img style="height: 200px; width: 200px;" class="profile_picture"
						th:src="@{'/images/' + ${contact.imageUrl}}" alt="Profile Picture" />

					<!-- Contact Name -->
					<h3 class="mt-3">

						<span th:text="${contact.name+'('+contact.nickName+')'}"></span>

					</h3>


					<table class="table mt-4">
						<thead>

							<!-- ID -->
							<tr>
								<th scope="col">#ID</th>
								<th scope="col" th:text="${'SCM2022'+contact.cId}">First</th>
							</tr>
						</thead>
						<tbody>

							<!-- Email -->
							<tr>
								<th scope="row">Email</th>
								<td th:text="${contact.email}"></td>
							</tr>

							<!-- Phone -->
							<tr>
								<th scope="row">Phone Number</th>
								<td th:text="${contact.phone}"></td>
							</tr>

							<!-- Work -->
							<tr>
								<th scope="row">Work</th>
								<td th:text="${contact.work}"></td>
							</tr>
						</tbody>






					</table>


					<!-- Description -->
					<div class="description mt-3">

						<th:block th:utext="${contact.description}"></th:block>

					</div>

					<!-- Buttons for update and delete contact -->
					<div class="mt-4">
						<a href="#" th:onclick="|deleteContact(${contact.cId})|"
							class="btn-outline-danger btn btn-md btn-block">Delete</a>
						<!-- If we directly click on this button it will send get request bound it inside a form for post request -->
								<form class="mt-2" th:action="@{'/user/update-contact/'+${contact.cId}}" method="post">
								
								<button class="btn-warning btn btn-md btn-block">Update</button>
								
								</form>
					</div>



				</div>

			</div>

		</div>

		<!-- If contact is not passed from the controller to the page -->
		<div class="container">
			<h3 class="text-center pd-3 bg-danger text-white"
				th:unless="${contact}">Your are authorized to see this
				contact...</h3>
		</div>


	</section>
</body>
</html>